[package]
name = "emuman"
description = "Utility for managing emulator ROM files."
version = "2.0.0"
authors = ["Brian Langenberger <bjl@usa.net>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/tuffy/emuman"
edition = "2018"

[dependencies]
clap = {version = "3.1", features=["derive"]}
sha1_smol = "1.0"
rayon = "1.5"
prettytable-rs = "0.8"
walkdir = "2"
directories = "4.0"
serde = "1.0"
serde_derive = "1.0"
toml = "0.5"
ciborium = "0.2"
fxhash = "0.2"
nohash-hasher = "0.2"
indicatif = {version = "0.16", features=["with_rayon"]}
zip = "0.5"
once_cell = "1.10"
dashmap = {version = "5.2", features=["rayon"]}
xattr = "0.2"
attohttpc = "0.18"
quick-xml = {version = "0.22", features=["serialize"]}
url = "2.2"
hex = "0.4"
